/*
cores:
  #101030 black, font
  #381611
  #a6481b
  #cc8c37
  #aa7744
  #e6aa77
  #eecd9d
  #f0cf95
  */

.main{
  display: flex;
  flex-direction: row;
  width: 98vw;
}

.leftDiv{
  margin-left: -0.6%;
  width: 22%;
  height: 84vh;
  background-color: #3e1a14;
  justify-content: space-evenly;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}



.topics {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 25px;
}


.headerTopicos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 25%;
}


#divConversas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 30%;
  max-height: 73%;
  gap: 20px;
}


.headerTopicos button, #divConversas button {
  font-weight: bold;
  font-family: monospace;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
  background-color: #cc8c37;
  font-size: 25px;
  cursor: pointer;

  border-radius: 6px;
  

  transition: transform 0.2s;
}

.headerTopicos button{
  height: 32%;  
}

#divConversas button{
  width: 100%;
  min-height: 55px;
  background-color: #805225;
  color: #f0cf95;
}


.headerTopicos button:hover, #divConversas button:hover{
  transform: scale(110%, 110%);
}

.imgSalvar{
  width: 35px;
  
}

.btnSalvar:nth-of-type(1) {
  gap: 26px;
}

.erroSalvar{
  color: red;
  align-self: center;
}

.erroSalvar span{
  color: green;
}


  #containerRecomendAI{
    width: 77vw;
    height: 83vh;
    display: flex;
    color: #eecd9d;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tituloRecomendai{
  text-align: center;
}

.containerResposta{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 40%;
}

.cardRecomendacao{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardRecomendacao h2{
  color: #e5b45e;
}

.cardRecomendacao h2:nth-of-type(2){
  margin-top: 35px;
}

.containerDescricao{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 59%;
}

.inputBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }

  #resposta{
    height: 70%;
    width: 80%;
  }