/*
cores:
  #101030 black
  #381611
  #a6481b
  #cc8c37
  #aa7744
  #e6aa77
  #eecd9d
  #f0cf95
  */


.containerLivros{
  padding: 15px;
  color: white;
  margin-top: 50px;
  background-color: #381611;
  margin-bottom: 30px;
  border-radius: 13px;  
  }

  .cadastrarLivros{
    display: none;
    position: absolute;
    background-color: brown;
    width: 500px;
    align-items: center;
    text-align: center;
  }


  .containerCardLivros{
    margin: 20px;
    width: 1290px;
    height: 310px;
    display: flex;
    flex-direction: row;
    background-color: #e6aa77;
    justify-content: space-around;
  }